@font-face {
  font-family: "iconfont"; /* Project id 3978922 */
  src: url('//at.alicdn.com/t/c/font_3978922_e3ara4e1fg8.woff2?t=1679897660970') format('woff2'),
  url('//at.alicdn.com/t/c/font_3978922_e3ara4e1fg8.woff?t=1679897660970') format('woff'),
  url('//at.alicdn.com/t/c/font_3978922_e3ara4e1fg8.ttf?t=1679897660970') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-aixin:before {
  content: "\e68e";
}
